extends layout

block content
  h1 Taller Inicial CMD
    ul
      li
        a(href='/lista_de_compras') Lista de Compras
      li
        a(href='/piedra_papel_tijera') Piedra Papel o Tijera
      li
        a(href='/calculadora_iva') Calculadora IVA
