doctype html
html
  head
    title Piedra Papel Tijera
    meta(charset='utf-8')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='stylesheets/style-ppt.css')
    script(type='text/javascript', src='https://code.jquery.com/jquery-2.2.3.js')
  body
    header
      h1 Piedra Papel o Tijera
      p Ejemplo de piedra papel o tijera contra la máquina
      .box
        button#btn-piedra(value='piedra') Piedra
        button#btn-papel(value='papel') Papel
        button#btn-tijera(value='tijera') Tijera
  script(type='text/javascript', src='js/main.js')
